{% extends "template.html" %} {% block title %}home{% endblock %}{% block content %}
  
<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <script src="/path/to/flickity.pkgd.min.js"></script>
  <center class="lightBG bg-zinc-800 h-screen">
  <!-- Start of the Grid -->
  <div class="grid grid-rows-2 text-white">
    <!-- title -->
    <h1 class="mb-4 pt-24 text-5xl font-bold mt-8">
      COAL;F
    </h1>
    {% if user.is_authenticated %}
    <!-- main menu -->
    <div class="text-2xl h-96 mt-20">
      <a href="/choice" class =" hover:underline">Learn</a>
      <br>
      <!-- patch notes -->
      <a href="/updates" class =" hover:underline">Update</a>
      <br>
      <!-- login/signup -->
      <!-- change the text below if they're currently signed it or not.-->
      <a href="/logout" class ="hover:underline">Logout</a>
    {% else %}
    <!-- main menu -->
    <div class="text-2xl h-96 mt-20">
      <h8 class="line-through">Learn</h8>
        <br>
        <!-- patch notes -->
        <a href="/updates" class ="hover:underline">Update</a>
        <br>
        <!-- login/signup -->
        <!-- change the text below if they're currently signed it or not.-->
        <a href="/login" class ="hover:underline">Login</a>
    {% endif %}
    </div>
  </div>
</div>

    <!-- About -->

  </center>
</body>
</html>
{% endblock %}